%center.alert-wrapper
  #result.alert.alert-success
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    %b Success!
    %span.info Successfully assigned staff.
.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h4#myModalLabel.modal-title Edit Task
    .modal-body{:id => "edit_task"}
      = render 'form'