.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h4#myModalLabel.modal-title Edit User
    .modal-body{:id => "edit_user"}
      = render 'form'


/ .modal-dialog
/   .modal-content
/     .modal-header
/       %button.close{"data-dismiss" => "modal", :type => "button"}
/         %span{"aria-hidden" => "true"} ×
/       %h4#myModalLabel.modal-title ADD NEW DATA MANAGER
/     .modal-body{:id => "edit_user"}
/       = simple_form_for(@user) do |f|
/         = f.error_notification

/         .form-inputs
/           .row
/             .col-xs-4
/               = f.label 'Edit user role'
/             .col-xs-6.col-xs-offset-2
/               = f.input :name, label: false, :collection => {'Admin' => 'admin', 'Manager' => 'manager'}
  
/         .form-actions.text-center
/           .row
/             .col-xs-3.col-xs-offset-3
/               %button.btn.btn-default.cancel{"data-dismiss" => "modal", :type => "button"} CANCEL
/             .col-xs-3
/               = f.button :submit, :class => 'update-study', value: 'CREATE STAFF'
/             .col-xs-3