.error-page
  .page-header
    %h1 
      Not Found
    %sup#error-code 404

  %p The requested page could not be found. Please check the address and try again. If you are unsure you may #{link_to 'return to the home page', '/'}.
  %p 
    If you continue to see this message please send a description of the problem to:
    = mail_to "support@epigenesys.org.uk"