.error-page
  .page-header
    %h1 
      Access Denied
    %sup#error-code 403

  %p The requested page is not available to you. Please check and try again.
  
  %p 
    If you continue to see this message please send a description of the problem to:
    = mail_to "support@epigenesys.org.uk"