- content_for :title, 'Browser Not Compatible'

.error-page

  .page-header
    %h1 Browser Not Compatible

  %p It appears that you are using an old version of Internet Explorer which prevents us offering you a rich online experience.

  %p Please upgrade to a newer version of Internet Explorer (9.0 or above), use a different web browser (e.g. Chrome or Firefox), or alternatively contact the CiCS Helpdesk for assistance.